<!DOCTYPE html>
<html ng-app="firstApp">
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MainController as mainCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome to BootBook</a>
        <a class="navbar-brand" href="#" ng-if="mainCtrl.hasUser()"> Logged in as: {{mainCtrl.getUsername()}}</a>
        <a class="navbar-brand" href="#" ng-if="mainCtrl.hasUser()" ng-click="mainCtrl.removeUser()">Logout</a>
    </div>
  </nav>
  <div id="guest-space" class="container" ng-if="!mainCtrl.hasUser()" ng-controller="LoginController as loginCtrl">
      <p>Login first!</p>
      <form class="form-group" ng-submit="loginCtrl.login()">
          <input class="form-control" type="text" require autofocuse ng-model="loginCtrl.username" placeholder="Username"></input>
          <input class="form-control" type="password" placeholder="Password"></input>
          <button class="btn btn-default" type="submit">Login</button>
      </form>
  </div>

  <div id="user-space" class="container" ng-if="mainCtrl.hasUser()"  ng-controller="UserController as userCtrl">
      <div class="form-group">
        <form name="statusForm"ng-submit="userCtrl.setStatus()">
          <input class="form-control" type="text" ng-model="userCtrl.message" placeholder="E.g. Hello World"></input>
          <button class="btn btn-default" type="submit">Update status</button>
        </form>
      </div>
      <hr/>
      <div class="" ng-controller="StatusController as statusCtrl">
        <div ng-repeat="post in statusCtrl.user">
            <h2>{{post.name}}:
            <span>{{post.date | date:'medium'}}</span>
            <textarea class="form-control" type="text">{{post.message}}</textarea>
          </div>

      </div>

    </div>
  </div>
</body>
</html>
